<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 配置关闭缓存 -->
		<setting name="cacheEnabled" value="false"/>
		<!-- 开启驼峰管理 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 自动生成ID -->
		<setting name="useGeneratedKeys" value="true"/>
		<!-- 缓存preparedstatement，提高性能 -->
		<setting name="defaultExecutorType" value="REUSE"/>
		<!-- 事务超时时间 -->
		<setting name="defaultStatementTimeout" value="600"/>
	</settings>

	<!-- 定义别名 -->
	<typeAliases>
		<typeAlias type="com.lw.house.common.model.User" alias="user"/>
	</typeAliases>

	<mappers>
		<mapper resource="mapper/user.xml"></mapper>
	
	</mappers>

</configuration>
