<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lw.mapper.CustomerMapper">
	<!-- 指定表中列值和类中列对应关系 -->
	<resultMap id="BaseResultMap" type="com.lw.pojo.Customer">
		<id column="customer_id" property="customerId" jdbcType="INTEGER" />
		<result column="customer_name" property="customerName"
			jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="customer_c">
		${item}.customer_id ,${item}.customer_name
	</sql>
	<select id="findCustomerById" parameterType="java.lang.Integer" resultMap="BaseResultMap"
		useCache="true">
		select
			<include refid="customer_c">
				<property name="item" value="c"></property>
			</include>
		from customer c
		<where>
			c.customer_id = #{customerId}
		</where>
		limit 20			
	</select>
	
	<select id="findAllCustomer" resultMap="BaseResultMap">
		select
			<include refid="customer_c">
				<property name="item" value="c"></property>
			</include>
		from customer c
	</select>
</mapper>
